In [1]:
import pandas as pd

In [14]:
# sep=";" é usado pois os dados neste arquivo é separado por ';'
# parse_dates= usado para que a coluna que contém datas seja entendida como datas
# dayfirst=True para deixar aaaa-mm-dd
df = pd.read_csv("ocorrencia.csv", sep=";", encoding='latin1', parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,81027,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00,0
1,81030,81030,INCIDENTE,VITÓRIA,ES,SBVT,2022-10-09,16:20:00,0
2,81023,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00,0
3,81029,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,2022-10-06,00:44:00,0
4,81025,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00,0

# LIMPEZA DOS DADOS

In [ ]:
#Única célula linha, coluna
df.loc[1,'ocorrencia_cidade']

#Linha inteira, número da linha
df.loc[3]

#Linhas inteiras da 1 à 3
df.loc[1:3]

#Todos os dados de uma coluna
df.loc[:, 'ocorrencia_cidade']

In [7]:
#Verifica se possui valores unicos (sem repetição)
df.codigo_ocorrencia.is_unique

#Alterar coluna de index do dataframe
df.set_index('codigo_ocorrencia', inplace=True)

In [ ]:
df.loc[40324]

In [10]:
#Reseta o index original
df.reset_index(drop=True, inplace=True)

### Alteração dos dados
As alterações são feitas no dataframe, não no arquivo de origem

In [13]:
#Altera valor de uma coluna em uma linha
df.loc[0, 'ocorrencia_aerodromo']=''

#Altera todos valores de uma linha
df.loc[1] = 20

#Altera valor de todas as linhas de uma coluna
df.loc[:, 'total_recomendacoes'] = 10

#Fazer BACKUP dos dados de uma coluna
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ococrrencia_aerodromo
0,81027,INCIDENTE GRAVE,SÃO PAULO,SP,,2022-10-09,16:30:00,0,

In [ ]:
#Alterar valor com filtro | Alterar para grave apenas nas ocorrencias_uf = SP
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE'

Alterar valores inválidos das colunas:
ocorrencia_uf: **
ocorrencia_aerodromo: ###!, ####, ****, *****
ocorrencia_hora: NULL

In [18]:
#pd.NA é uma valor do pandas para valores não informados
df.replace(['**', '***', '###!', '####', '****', '*****', 'NULL'], pd.NA, inplace=True)

In [22]:
#Mostra quantidade de dados não informados
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  4
ocorrencia_aerodromo        2417
ocorrencia_dia                 0
ocorrencia_hora                2
total_recomendacoes            0
dtype: int64

In [ ]:
#Troca valores dados não informados por outro
df.fillna('outro valor', inplace=True)